#Python

__pycache__/
*.py[cod]
*$py.class

#Distribuição e Build (PyInstaller / Auto-Py-To-Exe)

build/
dist/
*.spec

#Ambientes virtuais

venv/
env/
.env

#Saída do programa 

output/

#Logs e arquivos temporários

*.log
.vscode/
.idea/

#Arquivos de sistema

.DS_Store
Thumbs.db